<div ng-controller="addCtrl">
	<form class="form-horizontal" role="form" ng-submit="addSerie()">
		  <div ng-include="'assets/form.html'"></div>
		  <button class="btn btn-primary">Salvar</button>
	</form>
</div>
	
	