<div ng-controller="EditCtrl">
<div class="page-header">
		<h1>Editar</h1>
</div>
	<form ng-submit="atualizarSerie()" >
			<div ng-include="'assets/form.html'"></div>
			<button class="btn btn-primary" >Salvar Alteracao</button>
	</form>
</div>